body {
    padding: 0px; 
    margin: 0px;
    background-color: #000000;
    
}

.button {
    background-color: #c3c3c3; 
    border: none;
    color: #000000;
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
}

#wSize {
    color: white; 
}
.startDiv {
        margin: auto;
        width: 50%;
        height: 50%;
        padding: 100px;
        color: white;
}

#goFullscreenDiv {
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 100px;
    color: white;
    display: none;
}

table, td, tr, video {
    display: block;
    border-collapse: collapse; 
    padding: 0px;
    margin: 0px;  
  }

#snapchat {
    display: none;
    border-collapse: collapse; 
    padding: 0px;
    margin: 0px;  
    position: absolute;
    top: 0px;
    left: 0px;
    width: 533px;
    height: 818px;
}

#vid_up {
    border-collapse: collapse; 
    padding: 0px;
    margin: 0px; 
    overflow: hidden;
    opacity: 0.5;
}

#vid_down {
    border-collapse: collapse;  
    padding: 0px;
    margin: 0px; 
    overflow: hidden;
}
  

 